 <div class="user-details">
  <h1> About Me </h1>
  <!-- <p> {{site.user_description}} </p> -->
  <p>
    Hello, my name is Aarón Ojeda and I am a computer engineer. After some data mining projects, I decided to focus on the field I love the most: video games.
  </p>
  <p>
    I started by making my Computer Science Engineer's Degree thesis about 2D platformers. In the meantime I worked as a teacher imparting GameMaker workshops and out of school activities.
  </p>
  <p>
    I graduated in 2017 and after that I got a job at BoomBox S.L.U. where I was part of the development of American Girl World and Hemp Inc. Right now I am looking for new opportunities in the industry.
  </p>
  <a class="project-link" href="/download/CurriculumVitae_AaronOjeda.pdf" download>CV</a>
</div>
<!-- <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Gamedev</h2>
      <i class="icon-unity"></i>
      <i class="icon-gm_canvasresized"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div> -->
